.container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 5px;
    column-gap: 30px;
    text-align: center;

    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 60px;

    cursor: pointer;
    user-select: none;
}

i {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    align-self: center;

    font-size: 45px;
}

p {    
    grid-column: 1 / 2;
    margin: 0;
}

.price {
    font-size: 25px;
    font-weight: bold;
}
.items {
    font-size: 17px;
}

ul {
    display: block;
    position: absolute;
    top: 130px;
    right: 60px;
    width: 200px;
    padding: 15px 30px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    z-index: 500;
    min-height: 300px;
}

li {
    margin: 10px 0;
}
