body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

#hamburger {
    opacity: 0;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
}

#hamburger:checked ~ span {
    background-color: white;
}

#hamburger:checked ~ span:nth-of-type(1) {
    transform: translate(0, 9px) rotate(45deg);
}

#hamburger:checked ~ span:nth-of-type(2) {
    opacity: 0;
}

#hamburger:checked ~ span:nth-of-type(3) {
    transform: translate(0, -9px) rotate(-45deg);
}

#hamburger:checked ~ nav.mobile-bar {
    transform: translate(0, 0);
    transition: transform 0.5s cubic-bezier(0.6, 0.1, 0.1, 1.0);
}

nav {
    background-color: green;
    color: white;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.desktop-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.element, .mobile-element {
    margin: 0px 10px;
    padding: 15px;
    font-size: 23px;
    border-radius: 10px;
}

.element:hover, .mobile-element:hover, .element:hover a, .mobile-element:hover a  {
    cursor: pointer;
    background-color: white;
    color: green;
}

.burger-button {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
    z-index: 4;
}

.mobile-element {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 28px;
    width: fit-content;
    width: 80vw;
}

.mobile-bar {
    background-color: green;
    width: 100vw;
    min-height: 100vh;
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    justify-content: left;

    position: fixed;
    top: 0;
    left: 0;

    transform: translate(0, -100%);
    transition: transform 0.5s cubic-bezier(0.6, 0.1, 0.1, 1.0);
}

@media (max-width: 800px) {
    .desktop-bar {
        display: none;
    }

    nav {
        justify-content: right;
    }

    .burger-button {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

}