:root {
    --mult: 1.3;

    --mobile-item-width: min(90vw, 60vh);
    
    --square-item-width: min(40vw, 300px);
    --square-column-gap: max(20px, 7vw);

    --desktop-item-width: 300px;
}

body {
    background-color: gray;
}

.item {
    background-color: red;
    width: var(--desktop-item-width);
    height: calc(
        var(--desktop-item-width) * var(--mult)
        );
}

#container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    margin-right: auto;
}

/* Square-like screen */
@media (min-height: 70vw) {
    .item {
        background-color: rgb(0, 19, 192);
        width: var(--square-item-width);

        height: calc(
            var(--square-item-width) * var(--mult)
        );
    }

    /* .item:nth-child(2n) {
        flex-basis: 100%;
    } */

    #container {
        width: calc(
            2 * var(--square-item-width) + var(--square-column-gap)
        );

        column-gap: var(--square-column-gap);
    }    
}

/* Mobile screen */
@media (min-height: 130vw) {
    .item {
        background-color: green;
        width: var(--mobile-item-width);
        height: calc(
            var(--mobile-item-width) * var(--mult)
        );
    }

    #container {
        flex-direction: column;
    }    
}

@media (max-height: 70vw) {
    .item {
        background-color: rgb(231, 0, 154);

    }

    #container {
        justify-content: center;
    }
}