<main [class.horizontal-holder]="horizontal" [class.vertical-holder]="!horizontal">
    
<div class="container">
    <div [class.display]="!readonly" [class.always-display]="readonly"
    [style.color]="(!writeonly && getUserRating() > 0) ? 'rgb(228, 131, 20)' : 'rgb(186, 189, 35)'">
        <div class="full" [style.width]="width + 'px'">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>    
        <div class="empty" [style.width]="112.5 - width + 'px'">
            <div class="content">
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
    </div>

    <div [class.insert]="!readonly" [class.hidden-insert]="readonly">
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-star" (click)="onRatingAdded(1)"></i>        
        
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-star" (click)="onRatingAdded(2)"></i>
        
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-star" (click)="onRatingAdded(3)"></i>
        
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-star" (click)="onRatingAdded(4)"></i>
        
        <i class="fa-regular fa-star"></i>
        <i class="fa-solid fa-star" (click)="onRatingAdded(5)"></i>   
    </div>
</div>
<p *ngIf="!writeonly">{{ (currentRating.numberOfRatings > 0) ? currentRating.numberOfRatings : "No" }} 
    rating{{ (currentRating.numberOfRatings != 1) ? "s" : "" }}</p>

</main>