main {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main > * {
    display: block;
    width: min(800px, 90vw);
    box-shadow: 0px 0px 8px #888888;
    border-radius: 30px;
    margin: 20px;
    padding: 15px;
    min-height: 100px;
}
