<div class="container">
    <main>
        <div class="left">
            <div class="text-holder">
                <h1>Travel-Potravi</h1>
                <h3>Travel Agency</h3>
            </div>
            <i class="fa-solid fa-earth-americas"></i>
    
            
            <div class="oval">
            </div>
        </div>
        <div class="right">
            <h1>Where to find us?</h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5122.100607728793!2d19.908608113736882!3d50.06662748529314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1sen!2spl!4v1673260952859!5m2!1sen!2spl" 
            class="map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer>
        <h1>Contact us!</h1>
        <p>info@travel-potravi.com</p>

        <h1>Find us online!</h1>
        <i class="yt fa-brands fa-youtube"></i>
        <i class="fb fa-brands fa-square-facebook"></i>
    </footer>
</div>




