:root {
    --red-color: rgb(255, 61, 61);
    --blue-color: rgb(31, 31, 184);
    --green-color: rgb(24, 114, 24);
    --orange-color: rgb(230, 111, 0);
    --black-color: rgb(26, 26, 26);

    --basic-color: var(--blue-color);
}

body {
    /* background-color: gray; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    user-select: none;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

button {    
    border: none;
    background-color: white;
}

main {
    display: flex;
    /* flex-wrap: nowrap; */
}

.shoe {
    /* height: 531px; */
    width: 500px;
    background-color: white;
    overflow: hidden;
}

.shoe .background {
    background-color: var(--basic-color);
    position: relative;
    top: 20px;
    left: 100px;
    height: 500px;
    width: 400px;

    box-shadow: 0px 0px 20px #888888
}

.shoe .brand-name {
    /* display: block; */
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;

    font-size: 150px;
    font-weight: 700;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    color: white;
    opacity: 0.2;
}

.shoe button.share {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    background-color: white;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.shoe button.share:hover {    
    cursor: pointer;
    width: 55px;
    height: 55px;
    font-size: 27px;
}

.shoe .logo {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 20px;
}
.shoe .logo:hover {
    cursor: pointer;
}

.shoe .product {
    width: 500px;
    position: absolute;
    top: 150px;
    left: -150px;
    transform: rotate(-20deg);
    filter: drop-shadow(0px 10px 15px #000000);
}
.shoe .product:hover {
    cursor: grab;
    transform: rotate(-20deg) scale(1.2);
}

.info {
    width: 350px;
    padding: 30px;
    padding-top: 10px;
    /* overflow-wrap: break-word; */
    /* background-color: rgb(224, 224, 224); */
    box-shadow: 0px 0px 20px #888888
}

hr {
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom-width: 0;
    margin: 15px 0;
}

.info .name {
    display: flex;
    align-items: center;
}
.info .name h1 {
    user-select:text;
    margin: 0;
}
.info .name p {
    color: white;
    background-color: var(--basic-color);
    border-radius: 5px;
    padding: 2px 7px;
    margin: 0 10px;
    font-size: 1.1em;
}

.info h2 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 0;
}

.info h3 {
    margin: 0;
}

.info > p {    
    margin: 0;
    user-select:text;
}

.info .radio-holder {
    display: flex;
    margin-top: 10px;
}
input.color-button {
    display: none;
}

input.color-button + label {
    display: block;
    margin: 0 10px;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 20px;
}
input.color-button + label > .dot {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: var(--basic-color);
}
input.color-button:checked + label > .dot {
    transform: scale(0.6);
}
input.color-button + label:hover {
    cursor: pointer;
}

/* Colors for color buttons */
.info .radio-holder input#blue + label > .dot {
    background-color: var(--blue-color);
}
.info .radio-holder input#red + label > .dot {
    background-color: var(--red-color);
}
.info .radio-holder input#green + label > .dot {
    background-color: var(--green-color);
}
.info .radio-holder input#orange + label > .dot {
    background-color: var(--orange-color);
}
.info .radio-holder input#black + label > .dot {
    background-color: var(--black-color);
}

input.size-button {
    display: none;
}

label.size-label {
    display: block;
    margin: 0 10px;
    padding: 5px 0;
    min-width: 30px;
    text-align: center;
    border-radius: 8px;
    background-color: lightgray;
}
label.size-label:hover {
    cursor: pointer;
}

/* Selected size */
input.size-button:checked + label.size-label {
    background-color: var(--basic-color);
    color: white;
}

.info .buy {
    margin-top: 30px;

    position: relative;
}

.info button.add-to-cart {
    display: flex;
    flex-direction: row;
    align-items: center;

    color: white;
    letter-spacing: 0.1em;
    font-weight: bold;
    background-color: var(--basic-color);
}
.info button.add-to-cart:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.info .buy p.price {
    position: absolute;
    margin: 0;
    top: 0px;
    right: 20px;

    font-size: 30px;
    font-weight: bold;
}

/* Color switch */

/* BLUE */
main:has(.info):has(input#blue:checked) .shoe .background , 
main:has(.info):has(input#blue:checked) .info .name p,
main:has(.info):has(input#blue:checked) input.size-button:checked + label.size-label,
main:has(.info):has(input#blue:checked) .info .add-to-cart {
    background-color: var(--blue-color);
}
main:has(.info):has(input#blue:checked) .shoe .share {
    color: var(--blue-color);
}

/* RED */
main:has(.info):has(input#red:checked) .shoe img.product {
    content: url("img/red.png");
}
main:has(.info):has(input#red:checked) .shoe .background , 
main:has(.info):has(input#red:checked) .info .name p,
main:has(.info):has(input#red:checked) input.size-button:checked + label.size-label,
main:has(.info):has(input#red:checked) .info .add-to-cart {
    background-color: var(--red-color);
}
main:has(.info):has(input#red:checked) .shoe .share {
    color: var(--red-color);
}

/* GREEN */
main:has(.info):has(input#green:checked) .shoe img.product  {
    content: url("img/green.png");
}
main:has(.info):has(input#green:checked) .shoe .background , 
main:has(.info):has(input#green:checked) .info .name p,
main:has(.info):has(input#green:checked) input.size-button:checked + label.size-label,
main:has(.info):has(input#green:checked) .info .add-to-cart {
    background-color: var(--green-color);
}
main:has(.info):has(input#green:checked) .shoe .share {
    color: var(--green-color);
}

/* GREEN */
main:has(.info):has(input#orange:checked) .shoe img.product  {
    content: url("img/orange.png");
}
main:has(.info):has(input#orange:checked) .shoe .background , 
main:has(.info):has(input#orange:checked) .info .name p,
main:has(.info):has(input#orange:checked) input.size-button:checked + label.size-label,
main:has(.info):has(input#orange:checked) .info .add-to-cart {
    background-color: var(--orange-color);
}
main:has(.info):has(input#orange:checked) .shoe .share {
    color: var(--orange-color);
}

/* GREEN */
main:has(.info):has(input#black:checked) .shoe img.product  {
    content: url("img/black.png");
}
main:has(.info):has(input#black:checked) .shoe .background , 
main:has(.info):has(input#black:checked) .info .name p,
main:has(.info):has(input#black:checked) input.size-button:checked + label.size-label,
main:has(.info):has(input#black:checked) .info .add-to-cart {
    background-color: var(--black-color);
}
main:has(.info):has(input#black:checked) .shoe .share {
    color: var(--black-color);
}


/* Mobile version */
@media(max-width: 920px) {

    body {
        display: block;
    }

    main {
        flex-direction: column;
        width: 100vw;
    }

    .info {
        padding: 0 8vw;
        width: auto;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .shoe {
        height: 540px;
        width: auto;
    }

    .shoe .background {
        left: 30vw;
        width: 70vw;

        top: 40px;
    }

    .shoe button.share {
        right: 30px;
    }

    .shoe .product {
        transform: rotate(0);
    }
    .shoe .product:hover {
        transform: scale(1.2);
    }
}

/* Warning for Mozilla Firefox users */
#firefox {
    display: none;
}

@supports ( -moz-appearance:none ){
    #firefox {
        display: block;
        background-color: var(--orange-color);
        padding: 30px;
        margin: 50px;
        font-weight: 700;
        font-size: large;
    }
}
