:root {
    --aim-size: 300px;
}

body{
    height:100vh;
    margin: 0;
    position: relative;

    background-image: url(images/board-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;

    overflow: hidden;
    user-select: none;
    z-index: -1000;

    /* Game Over */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.animation {
    width: 200px; 
    height: 312px;

    animation: back 1.5s steps(10, end) infinite;
    
    background: url(images/walkingdead.png);

    position: absolute;
    left: 200vw;
    top: -500px;
}

@keyframes back{    
    0% {
        background-position-x: 2000px;
    }
}

body p {
    position: absolute;
    margin: 0;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    user-select: none;
}
body:hover {
    cursor: none;
}

#score {
    top: 30px;
    right: 50px;
    font-size: 100px;
}

#game-over {
    font-size: 100px;
    background-color: black;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-over p {
    position: relative;
}
#game-over p#play-again {
    font-size: 70px;
    color:rgb(158, 158, 158);
}
#game-over p#play-again:hover {
    font-size: 70px;
    color:white;
}

#healthbar {
    position: absolute;
    left: 50px;
    top: 50px;
}

.heart {
    height: 100px;
    margin: 5px;
}

#aim {
    display: block;
    width: var(--aim-size);
    height: var(--aim-size);
    position: absolute;
    left: calc(50vw - var(--aim-size) / 2);
    top: calc(50vh - var(--aim-size) / 2);

    z-index: 1000;
    pointer-events: none
}