#container {
    /* background-color: rgb(189, 189, 189); */
    min-height: 375px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {
    /* background-color: rgb(87, 87, 87); */
    max-width: 800px;

    display: flex;
    justify-content: space-around;
}

.box {
    height: 100px;
    /* margin: 10px; */

    border: 2px solid black;
}

.red_box {
    background-color: red;
    width: 200px;
}

.blue_box {
    background-color: rgb(137, 202, 240);
    width: 550px;
}
.yellow_box {
    background-color: yellow;
    width: 775px;
}