body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* display: flex;
    align-items: center; */
}

p {
    margin: 0;
}

.task {
    user-select: none;
    padding: 20px 10px;
}

ol {
    /* display: block; */
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
li {
    font-weight: bold;
}
li:hover {
/* .task:hover { */
    cursor: pointer;
    background-color: green;
    border-radius: 10px;
}

li:hover > p {
    color: white;
}

.answer {
    padding: 20px;
    display: none;
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
}