body {
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: #057aec;
    margin-top: -50vh;
    padding-top: 50vh;
    
    height: 60vh;

    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    -o-transform: skewY(-5deg);
    transform: skewY(-5deg);
}
  
.box > .wrapper {
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    -o-transform: skewY(5deg);
    transform: skewY(5deg);

    margin: 5vw 10vw;
    display: flex;
}

div#left {
    color: white;
}

form {
    margin: 0 50px;

    background-color: white;
    padding: 3vw;
    border-radius: 10px;
    box-shadow: 10px 10px 50px 15px rgba(0, 0, 0, 0.137);

    color: gray;
}

form>input {
    width: 300px;
    font-size: large;
    margin-bottom: 15px;
}

h1 {
    font-size: 1.8em;
}

button {
    height: 35px;
    width: 90px;

    background-color: #057aec;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #03407e;
    cursor: pointer;
}

button#info {
    border: 1px solid white;
    height: 45px;
    width: 135px;
}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    form {
        margin: 50px;
    }
}
