body {
    background-color: black;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 310px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #023197;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.sidenav>a>p {    
    margin: 0;
    padding: 0;
}

.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:hover p::after {
    color: #f1f1f1;
    border-color: white;
}

main {
    margin-left: 300px;
    padding: 0px 10px;
}
  

@media screen and (max-width: 800px) {
    .sidenav>a>p {
        /* display: none; */
        visibility: hidden;
        height: 0;
    }
    .sidenav>a>p::after {
        visibility: visible;
        max-height: 30px;
        top: 10px;
    }
    .sidenav {
        width: 100px;

        justify-content: center;
    }    
    main {
        margin-left: 100px;
    }
} 

@media screen and (max-height: 500px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav>a {
        padding: 0 20px;
    }
} 

@media (max-height: 350px) {
    .sidenav {
        position: relative;
        height: 200vh;
        float: left;
    }    
    main {
        margin: 0;
    }
} 

.sidenav>a>i {
    color: #023197;
    margin: 20px;
}

a:hover i{
    color: white;   
}

a:hover {
    background-color: rgb(5, 150, 0);
    border-radius: 30px;
}

.sidenav :nth-child(2) p::after {
    position: absolute;
    content: "18";
    font-weight: bold;
    color: green;
    border: 1px solid green ;
    border-radius: 50px;
    padding: 0 5px;
    right: 5px;
}
