::ng-deep :root {
    --button-size: 25px;
}

button {
    width: var(--button-size);
    height: var(--button-size);

    border: 1px solid gray;
    border-radius: 5px;
    margin: 2px;
    border-color: black;
    color: black;
}
button:hover {
    cursor: pointer;
}

button.add {
    background-color: rgb(155, 255, 155);
}
button.add:hover {
    background-color: rgb(29, 189, 29);
}
button.substract {
    background-color: rgb(255, 134, 134);
}
button.substract:hover {
    background-color: red;
}

button.add:disabled, button.substract:disabled {
    background-color: rgb(175, 175, 175);
    border-color: rgb(175, 175, 175);
    color: gray;

    visibility: hidden;
}
button.add:disabled:hover, button.substract:disabled:hover {
    cursor: default;
}
