:host {
    --photo-size: 200px;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
}

h2 {
    font-size: 1.3em;
}

h2, p {
    margin: 10px;
}

.container {
    border: 0 solid gray;
    background-color: #f2f2f2;
    box-shadow: 2px 5px 18px #b1b1b1;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    width: 250px;
    min-height: 532px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.inactive {
    background-color: lightgray;
    color: rgb(88, 88, 88);
}

.last-ones {
    background-color: rgb(255, 255, 144);
    color: rgb(80, 0, 0);
}
.last-ones .left {
    font-weight: bold;
}
.left {
    margin-top: 0;
}

.cheapest, .mostExpensive {
    border-width: 6px;
    border-radius: 10px;
    margin: 3px;
    padding: 7px;
}
.cheapest {
    border-color: red;
}
.mostExpensive {
    border-color: green;
}

img {
    display: block;
    width: var(--photo-size);
    height: var(--photo-size);
    object-fit: cover;
    border-radius: var(--photo-size);

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.purchase-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    text-align: right;
    font-weight: bold;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.selected {
    font-weight: bold;
    min-height: 20px;
    color: red;
}
.selected.alot {
    color: green;
}

app-plus-minus-button {
    margin-left: 10px;
}

.delete {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;

    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    background-color: rgb(255, 241, 241);
}
.cheapest .delete, .mostExpensive .delete {
    top: 7px;
    right: 7px;
}
.container:hover .delete {
    opacity: 0.2;
}
.container:hover .delete:hover {
    opacity: 1;
    cursor: pointer;
}

app-star-rating {
    margin-left: 10px;
}
