input[type=text], [type=date], [type=number], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input.cancel {
    width: 75%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:disabled {
    cursor: default;
    background-color: #45a049;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

input.cancel {
    width: 20%;
    background-color: #f16f6f;
}

input.cancel:hover {
    background-color: #d82b2b;
}

.button-holder {
    display: flex;
    justify-content: space-between;
}
  
.form, .form-data{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 400px;
    margin: 30px auto;
}

input.ng-invalid.ng-touched{
    border: red 1px solid;
}
small{
    color: red;
}
input.ng-valid.ng-touched {
    background-color: rgb(240, 248, 255);
}

.date-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.date-holder input {
    grid-row: 2 / 3;
}

/* Remove arrows in number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
